@CHARSET "ISO-8859-1";

input{
	border-radius: 5px;
	width: 300px;
	height: 25px;
	font-size: medium;
	border: 1px solid #A9A9A9;
	color: #4B4B4B;
	padding-left: 15px;
}
 button{
	border-radius: 5px;
	border: 1px solid #A9A9A9;
	background-color: #801515;
	font-size: medium;
	font-weight: bold;
	color: white;
	margin-right: 115px;
	margin-top: 10px;
	width: 100px;
	height: 40px;
	
}